.button-container button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    /* Menggeser ke kanan */
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.buttons-right button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    /* Memberikan jarak antara tombol */
}